.carousel-item-spacing {
  padding: 0 10px;
  box-sizing: border-box;
}
.carousel-wrapper {
  position: relative;
}

.custom-button-group {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none; 
}

.custom-button-group .arrow {
  pointer-events: all;
  background: rgba(255,255,255,0.8);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.custom-button-group .left {
  position: absolute;
  left: 0;
}

.custom-button-group .right {
  position: absolute;
  right: 0;
}

.carousel-item-space {
  padding: 0 10px;
  box-sizing: border-box;
}

.card-content {
  background-color: rgba(232, 230, 241, 0.42);
  border-radius: 8px;
  overflow: hidden;
}

.card-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 800;
  font-family: 'Urbanist', sans-serif;
}
